.banner-glass-wrapper {
  padding: 30px 40px 0 20px; 
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-glass-content {
  width: 100%; 
  max-width: none; 
  height: 250px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Efeito Vidro */
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  
  text-align: center;
}

.banner-glass-content h1 {
  /* Reduzi de 5rem para 3.5rem - ainda é grande, mas não gigante */
  font-size: 3.5rem; 
  margin: 0;
  font-weight: 900;
  letter-spacing: -2px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

/* --- CORES POR LETRA --- */
.letter-g { color: #ffffff; } /* Branco */
.letter-c { color: #e69a44; } /* Amarelo/Laranja */
.letter-e { color: #a44978; } /* Vinho */
.letter-u { color: #509af1; } /* Azul */

.banner-glass-content p {
  /* Reduzi levemente o texto de baixo também */
  font-size: 1.1rem; 
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.banner-glass-content h3 {
  font-size: 1.3rem;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}